*,
*::after,
*::before{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    background-image: url(/CSS/BG.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.html{
    font-size: 62.5%;
}
.navbar input[type="checkbox"],
.navbar .hamburger-lines{
    display: none;
}
.container{
    max-width: 1200px;
    width: 90%;
    margin: auto;
}
.navbar {
    position: fixed;
    width: 100%;
    background: #0d6efd;
    color: #fff;
    z-index: 100;
}
.navbar-container{
    display: flex;
    justify-content: space-between;
    height: 64px;
    align-items: center;
}
.menu-items{
    order: 2;
    display: flex;
}
.logo{
    order: 1;
    font-size: 2.3rem;
}
.menu-items li{
    list-style: none;
    margin-left: 1.5rem;
    font-size: 1.3rem;
}
.navbar a{
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease-in-out;
}
.navbar a:hover{
    color: #fff;
}
.about .row{
    display: flex;
    align-items: center;
    background: #fff;
    gap: 2rem;
    flex-wrap: wrap;
    padding: 1rem 0;
} 
.mb-3 {
    margin-bottom: 1rem!important;
    width: 220%;
}
.d-grid {
    display: grid!important;
    width: 221%;
}

.about .row .image-container{
    flex: 1 1 20rem;
    position: relative;
}
.about .row .image-container .image{
    width: 100%;
    height: 100vh;
    object-fit: contain;
}
.about .row .content{
    flex: 1 1 20rem;
    margin-top: 2rem;
    text-align: justify;
}
.about .row .content h3{
    font-size: 3rem;
    color: #333;
    padding:0;
}
.about .row .content p{
    font-size: 1.1rem;
    color: #999;
    padding-right: 1.5rem ;
    padding-top: 0.85rem;
    padding-left: 0;
    padding-bottom: 1.2rem;
    line-height: 1.5;
}
.form-control {
    display: block;
    width: 222%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: .375rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
p.para {
    margin-left: 75px;
}
a.text-primary.fw-bold {
    margin-left: 90px;
}
form {
    max-width: 100vw;
    display: inline-block;
    margin-top: 20px;
    line-height: 12px;
}
form label {
    font-family: "Open Sans", sans-serif;
    font-size: 1.2rem;
    margin-bottom: 7px;
    justify-content: center;
    text-align: center;
    margin-top: 0.8rem;
}
form input {
	border: 2px solid lightslategray;
	height: 40px;
	border-radius: 3px;
	padding: 5px;
	font-size: 1rem;
}
form input:focus {
	outline: none;
	border: 2px solid darkslategray;
}
.d-grid-1 {
    display: grid!important;
    margin-top: 20px;
    width: 180%
}
select#lang{
    width: 180%;
}
@media (max-width: 768px){
    .navbar{
        opacity: 0.95;
    }
    .navbar-container input[type="checkbox"],
    .navbar-container .hamburger-lines{
        display: block;
    }
    .navbar-container{
        display: block;
        position: relative;
        height: 64px;
    }
    .navbar-container input[type="checkbox"]{
        position: absolute;
        display: block;
        height: 32px;
        width: 30px;
        top: 20px;
        left: 20px;
        z-index: 5;
        opacity: 0;
        cursor: pointer;
    }
    .navbar-container .hamburger-lines{
        display: block;
        height: 28px;
        width: 35px;
        position: absolute;
        top: 20px;
        left: 20px;
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .navbar-container .hamburger-lines .line{
        display: block;
        height: 4px;
        width: 100%;
        border-radius: 10px;
        background: #fff;
    }
    
    .navbar-container .hamburger-lines .line1{
        transform-origin: 0% 0%;
        transition: transform 0.3s ease-in-out;
    }

    .navbar-container .hamburger-lines .line2{
        transition: transform 0.2s ease-in-out;
    }

    .navbar-container .hamburger-lines .line3{
        transform-origin: 0% 100%;
        transition: transform 0.3s ease-in-out;
    }

    .navbar .menu-items{
        padding-top: 100px;
        background: #fff;
        height: 100vh;
        max-width: 300px;
        transform: translate(-150%);
        display: flex;
        flex-direction: column;
        margin-left: -40px;
        padding-left: 40px;
        transition: transform 0.5s ease-in-out;
        box-shadow:  5px 0px 10px 0px #aaa;
        overflow: scroll;
    }

    .navbar .menu-items li{
        margin-bottom: 1.8rem;
        font-size: 1.1rem;
        font-weight: 500;
    }

    .logo{
        position: absolute;
        top: 10px;
        right: 15px;
        font-size: 2.5rem;
    }

    .navbar-container input[type="checkbox"]:checked ~ .menu-items{
        transform: translateX(0);
    }

    .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line1{
        transform: rotate(45deg);
    }

    .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line2{
        transform: scaleY(0);
    }

    .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line3{
        transform: rotate(-45deg);
    }

}

@media (max-width: 500px){
    .navbar-container input[type="checkbox"]:checked ~ .logo{
        display: none;
    }
    .about .row .content h3{
        font-size: 2.75rem;
        padding-left:2rem;
        margin-top: 0;
    }
    .about .row .content p{
        font-size: 0.9rem;
        padding-right: 1.5rem ;
        padding-top: 0.25rem;
        padding-left: 2rem;
        padding-bottom: 1.2rem;
        line-height: 1.2;
    }
}
